@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    margin: 0px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;    
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
} 
#cabecera{
    background-image: url(../media/fondo2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}
main{
    margin-bottom: 70px;
}
.col-md-12{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poor Story', cursive;
    font-size: 20px;
    color: white;
}
.col-md-12 h1{
    font-size: 36px;
    margin: 10px;
}
.main-content-right, .main-content-left{
    margin: 20px;
    padding: auto;
    width: 400px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}
.image-profile{
    height: 210px;
    border-radius: 40%;
    margin-top: 5px
}
a{
    text-decoration: none;
    list-style: none;
}
img{
    height: 25px;
}
footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.row-footer *{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 0px;
    margin: 1px;   
}
.col-md-12-footer{
    flex-direction: row;
    width: 100%;
}
.redes{
    flex-direction: row;
}
button{
    background-color: transparent;
    border: white;
    border-style: solid;
    padding: 10px;
    border-radius: 15%;
    margin-bottom: 3px;
}
@media (min-width: 768px){
    .col-md-6 {
        display: flex;
    }
}
@media (max-width: 460px){
    .col-md-6 {
        display: flex;
    }
}
